---
Language:        Cpp
BasedOnStyle:  Google

IndentWidth:     4
TabWidth:        4

ColumnLimit:      100

# indent
AccessModifierOffset: -4

# short block
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

# other
AlwaysBreakTemplateDeclarations: true
DerivePointerAlignment: false
BreakStringLiterals: false
...

